.top-bar {
}
.top-bar-section{
    
}

.top-bar-section ul li.active > a {
    text-transform: uppercase;
}

.top-bar-section ul li.active > a:hover {
}
.top-bar-section li:not(.has-form) a:not(.button){
	text-transform: uppercase;
}
#intro{
	height: 100%;
	line-height:100vh; 
	text-align: center;
	background-image: url(../img/overlay.png);
	font-size: 2em;
}
body{
	background-image: url(../img/background2.jpg);
	background-size: 100%;
	overflow: hidden;
}
@media only screen {
	body{
	background:#A8B2B6;
	background-size: 100%;
	}
}
@media only screen and (min-width: 40.063em) { 
	body{
		background-image: url(../img/background2.jpg);
		background-size: 100%;
	}
}